
.area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.term-and-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    min-height: 40vh;
    max-height: 40vh;
    height: 100%;
    width: 100%;
}

.term{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    height: 40vh;
    transition:ease-in-out 0.5s;
    transform: translateX(100%);
}

.term.active {
    transform: translateX(0%);
    height: 40vh;
    max-height: 40vh;
    height: 100%;
    border-radius: 8px;
    overflow: auto;
    transition: transform 0.5s ease-in-out;
    /* flex-shrink: 0.5; */
    flex-shrink: 0.5;
    box-shadow: -12px 12px 10px rgba(0, 0, 0, 0.409);
}

.title{
    font-size: 2.7rem;
}


.command-button{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-size: rem;
    cursor: pointer;
    transition: 0.3s;
}

.command-button:hover {
    background-color: lightgray;
    color: black;
}


h1{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 45vw;
    max-width: 45vw;
    height: 30vh; /* 80% of the viewport height */
    max-height: 80vh; /* max out at 80% of the viewport height */
    overflow-y: auto; /* allow vertical scrolling */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

li{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    min-height: 20px;
    background-color: #f5f5f5;
    justify-content: space-between;
    overflow-x: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

li.example{
    background-color: white;
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    font-weight: bold;
}

li.example span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}