/* ImageList.css */
.image-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 45vw; /* 45% of the viewport width */
    max-width: 80vw; /* max out at 80% of the viewport width */
    height: 30vh; /* 80% of the viewport height */
    max-height: 80vh; /* max out at 80% of the viewport height */
    overflow-y: auto; /* allow vertical scrolling */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

.image-list li {
    list-style-type: none; /* remove default list bullets */
    margin: 10px 0; /* margin above and below each item */
    padding: 10px; /* padding inside each item */
    border: 1px solid #ddd; /* border color */
    border-radius: 5px; /* rounded corners */
    width: 40vw; /* width of list item */
    text-align: center; /* center text */
}

.image-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5; /* light grey background */
    justify-content: space-between; /* space out children */
    padding: 10px; /* padding inside each image item */
    border: 1px solid #eee; /* lighter border for the image item */
    margin: 5px 0; /* slight margin for separation */
}

.name-and-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 10px; /* space between buttons */
}




