/* ImageList.css */
.image-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 30vh; /* 80% of the viewport height */
    max-height: 30vh; /* max out at 80% of the viewport height */
    overflow-y: auto; /* allow vertical scrolling */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

.pull-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    top: 0;
    z-index: 1;
}

.pull-input{
    width: 100%;
    font-size: large;
    margin-right: 1rem;
    border-radius: 5px; /* rounded corners */
    border: 1px solid #ddd; /* border color */
    padding: 0.5rem; /* padding inside each item */
}

.pull-input:focus {
    border-color: #38ff7a; /* change border color */
    box-shadow: 0 0 5px rgba(23, 135, 255, 0.9); /* add shadow effect */
    outline: none; /* remove default outline */
    animation: shining 1s infinite alternate; /* add animation */
}

@keyframes shining {
    0% {
        box-shadow: 0 0 5px rgba(23, 135, 255, 0.9);
        border-color: #38ff7a;
    }
    50% {
        box-shadow: 0 0 15px rgba(23, 135, 255, 0.9);
        border-color: #23c8ff;
    }
    100% {
        box-shadow: 0 0 5px rgba(23, 135, 255, 0.9);
        border-color: #38ff7a;
    }
}

.pull-button{
    width: 100px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.image-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; /* space out children */
    list-style-type: none; /* remove default list bullets */
    margin: 10px 0; /* margin above and below each item */
    padding: 10px; /* padding inside each item */
    border: 1px solid #ddd; /* border color */
    border-radius: 5px; /* rounded corners */
    width: 100%; /* width of list item */
    box-sizing: border-box; /* include border in width */
    text-align: center; /* center text */
    min-height: 40px;
    overflow-x: auto; /* allow vertical scrolling */
    opacity: 0.8;
}


.name-and-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 10px; /* space between buttons */
}

.formatted-alert pre {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap; /* 保持换行 */
    font-family: 'Courier New', Courier, monospace; /* 使用等宽字体 */
    font-size: 20px; /* 调整字体大小 */
    line-height: 1.5; /* 调整行高 */
    overflow: auto; /* 如果内容超出容器，显示滚动条 */
}

.formatted-alert th {
    vertical-align: top;
    text-align: left;
    width: 200px;
}

.formatted-alert td {
    text-align: left;
    border-radius: 5px;
    overflow-x: scroll;
    width: auto;
}