.processing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.processing-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.processing-form textarea{
    width: 30rem;
    height: 3rem;
    font-size: 1rem;
}

.processing-button{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    border: #ccc 1px solid;
    border-radius: 5px;
    background-color: #ffffff;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

.processing-button:hover{
    box-shadow: 0 0 10px #000000;
}

.processing-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}